#root {
    max-width: 1280px;
    margin: 0;
    text-align: center;
}

.main-canvas {
    width: 100vw;
    height: 100vh;
    display: block;
}

.camera-info {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 0.5rem 1rem;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-family: monospace;
    font-size: 14px;
    border-radius: 6px;
    z-index: 10;
}

.camera-info .camera-info-row {
    text-align: left;
}

.editable {
    display: flex;
    flex-direction: row;
}

.editable .editable-label {
    flex: 0 0 50px;
}

.editable .editable-value {
    flex: 1;
}
